
#de{
	clear: left;
}

.footer{
	background-color: #F1F1F1;
	text-align: center;
	padding: 10px;
}


ul{
		list-style-type: none;
		margin: 0xp;
		padding: 0px;
		overflow: hidden;
		background-color: #333;
}

li{
		float: left;
}

li a, .dropbtn{
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn{
	background-color: red;
}
.column{
	float: left;
}

.column.side{
	width: 30%;
}

.column.middle{
	width: 70%;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}



.header{
	background-color: #F1F1F1;
	text-align: center;
	padding: 20px;
}



li.dropdown{
	display: inline-block;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1; 
}


.dropdown-content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	background-color: lightgray;
}

.dropdown-content a:hover{
	background-color: lightblue;
}


.dropdown:hover .dropdown-content{
	display: block;
}



