body{
    text-align: center;
}
.container {
  	border: 10px solid skyblue;
    background: lightblue;
    border-radius: 10px;
    width: 35%;
    height: 160px;
    margin: auto;
    position: relative;
    top: 100px;
}

h2 {
    color: black;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

#explain{
    text-align: left;
    font-size: 20px;
    position:relative;
    top: 150px;
    width: 700px;
    margin: auto;
}
