  /* 'Go to Top' Button */
        #goTopBtn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            font-size: 30px;
            text-decoration: none;
            color: #0080ff;
            cursor: pointer;
            background-color: rgba(120, 120, 119, 0.3);
            padding: 5px 10px;
            border-radius: 50%;
            transition: background-color 0.3s ease;
        }
        #goTopBtn:hover {
            /*background-color: rgba(120, 120, 119, 0.5);*/
	    background-color: #0080ff;
	    color: white;
        }

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: white;
		border-radius: 10px;
		border: 1px solid #0080ff;
		position: fixed;
		top: 0px;
		width: 98%;
	}

	li {
	         float: left;
		 border-right: 1px solid #0080ff;
	}

	li a {
		display: block;
		color: #0080ff;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	li a:hover {
	  	/*background-color: rgba(120, 120, 119, 0.5);*/
		background-color: #0080ff;
		color: white;
	}
